name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        numpy-version: ['numpy<2.0', 'numpy>2.0']
        python-version: ['3.9', '3.10', '3.11']

    # Skip CI if 'skip ci' is contained in latest commit message
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    steps:

    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }} and ${{ matrix.numpy-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install "${{ matrix.numpy-version }}"
        pip install -e .

    - name: Test with pytest
      run: |
        python setup.py test

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        file: ./coverage.xml
        flags: unittests
