name: Documentation

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    # Skip docs if 'skip docs' is contained in latest commit message
    if: "!contains(github.event.head_commit.message, 'skip docs')"

    steps:

    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[dev]

    - name: Set up Pandoc
      uses: r-lib/actions/setup-pandoc@v2

    - name: Build documentation
      run: |
        cd docs
        make clean
        make html

    - name: Commit documentation changes to gh-pages
      run: |
        cd docs
        git clone https://github.com/rs-station/reciprocalspaceship.git --branch gh-pages --single-branch gh-pages
        cd gh-pages
        cp -r ../_build/html/* .
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git diff --quiet && git diff --staged --quiet || git commit -m "Upload documentation from latest commit"

    - name: Push changes to gh-pages
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: "gh-pages"
        directory: "docs/gh-pages"
